node_modules/
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock
coverage/
*.lcov
dist/
tmp/
build/
bower_components/
jspm_packages/
*.tsbuildinfo
.npm/
.eslintcache
.env
.vscode/
.history/
.DS_Store
Thumbs.db